<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<div class="row"> 
		<div class="col-md-1">
		</div>
	<div class="col-xs-3">	
		<div class="panel panel-default">
		<%= image_tag "avatar.png", class: "avatar-full"%>
			<div class="panel-heading">Verification</div>
				<div class="panel-body">
					Email: Iamahost@airbnb.com</br>
					Phone number: 867-5309
				</div>
			</div>
		</div>
		<h1> Hey, I'm <%=@host.username%></h1>
			<p>I am a Host</p>
		<p>US · Member since August 2016</p>
		</div>
	<div>
</div>
<h1><%=@host.username%>'s Page</h1>
<div>
<%=@host.bio%><br><br>
</div>
<div>
<h3>Please rank 1 to five how open you are feeling to new experiences:</h3>
<ol>
<li>Not open at all</li>
<li>Very hesitant</li>
<li>Cautiously open</li>
<li>Open</li>
<li>Actively searching for an exciting, new experience</li>
</ol>
Host chose: <%=@host.host_expectations.to_i%><br>

<h3>Rank how interested you are in interacting with your guest:</h3>
<ol>
<li>I am doing this for money only and just want to make sure my property isn’t destroyed.</li>
<li>I am not interested in interacting with a guest.</li>
<li>I do not need to interact with my guest, but wouldn’t mind getting involved.</li>
<li>I would like to help my guest find places in the area.</li>
<li>I have an itinerary ready and I want to see their vacation photos at the end of this!</li>
</ol>
Host chose: <%=@host.new_exp.to_i%><br><br><br>

</div>

[Will Be Hidden]<br>
Openness Evaluation:<%=@host.openness%><br>
Extraversion Evaluation:<%=@host.extraversion%><br>
Conscientiousness Evaluation:<%=@host.conscientiousness%><br>
Agreeableness Evaluation:<%=@host.agreeableness%><br>
Emotional Range Evaluation:<%=@host.emotional_range%><br>
</div>

<div>
<h1>Travelers that we recomend</h1>
	<% @recommendations.each do |recommendation| %>
		<li><%= link_to recommendation.username, recommendation %></li>
	<% end %>
</div>