<h1><%=@host.username%></h1>
<div>
<%=@host.bio%><br>
<%=@host.host_expectations%><br>
<%=@host.openness%><br>
<%=@host.conscientiousness%><br>
<%=@host.extraversion%><br>
<%=@host.conscientiousness%><br>
<%=@host.agreeableness%><br>
<%=@host.emotional_range%><br>
</div>
