<h1><%=@host.username%>'s Page</h1>
<div>
<%=@host.bio%><br><br>
Expectations:<%=@host.host_expectations%><br><br><br>



[Will Be Hidden]<br>
Openness Evaluation:<%=@host.openness%><br>
Extraversion Evaluation:<%=@host.extraversion%><br>
Conscientiousness Evaluation:<%=@host.conscientiousness%><br>
Agreeableness Evaluation:<%=@host.agreeableness%><br>
Emotional Range Evaluation:<%=@host.emotional_range%><br>
</div>
