<h1><%=@host.username%>'s Page</h1>
<div>
<%=@host.bio%><br><br>
Expectations:<%=@host.host_expectations%><br><br><br>

Rank how interested you are in interacting with your guest:

I am doing this for money only and just want to make sure my property isn’t destroyed
I am not interested in interacting with a guest
I do not need to interact with my guest, but wouldn’t mind getting involved
I would like to help my guest find places in the area
I have an itinerary ready and I want to see their vacation photos at the end of this!
Guest: Please rank 1 to five how interested you are in interacting with your host:

I am doing this because it’s cheap/convenient and just want to make sure my trip isn’t ruined by a crazy host
I am not interested in interacting with a host
I do not need to interact with my host, but might have a few questions
I would like my host to give me ideas of places to go
I want to bond with my host and spend significant time with them
Both: Please rank 1 to five how open you are feeling to new experiences:

Not open at all
Very hesitant
Cautiously open
Open
Actively searching for an exciting, new experience

[Will Be Hidden]<br>
Openness Evaluation:<%=@host.openness%><br>
Extraversion Evaluation:<%=@host.extraversion%><br>
Conscientiousness Evaluation:<%=@host.conscientiousness%><br>
Agreeableness Evaluation:<%=@host.agreeableness%><br>
Emotional Range Evaluation:<%=@host.emotional_range%><br>
</div>
