<h1> New User - Welcome! </h1>
<div id='new-user'>

  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <div id=""
      <p>How interested are you in interacting with your guest?</p>
      <%= label_tag(:host_g_desire, "I am doing this for money only and just want to make sure my property isn’t destroyed") %>
      <%= radio_button_tag(:host_g_desire, 1) %>
      <%= radio_button_tag(:host_g_desire, 2) %>
      <%= radio_button_tag(:host_g_desire, 3) %>
      <%= radio_button_tag(:host_g_desire, 4) %>
      <%= radio_button_tag(:host_g_desire, 5) %>
      <%= label_tag(:host_g_desire, "I am younger than 21") %>
      <%= radio_button_tag(:age, "adult") %>
  <% end %>

</div>
