<h1><%=@traveler.username%></h1>
<div>
<%=@traveler.bio%><br>
<%=@traveler.guest_expectations%><br>
<%=@traveler.openness%><br>
<%=@traveler.conscientiousness%><br>
<%=@traveler.extraversion%><br>
<%=@traveler.conscientiousness%><br>
<%=@traveler.agreeableness%><br>
<%=@traveler.emotional_range%><br>
</div>
