<h1><%=@traveler.username%></h1>
<div>
<%=@traveler.bio%><br>
<%=@traveler.guest_expectations%><br><br><br>

[Will Be Hidden]<br>
Openness Evaluation:<%=@traveler.openness%><br>
Extraversion Evaluation:<%=@traveler.extraversion%><br>
Conscientiousness Evaluation:<%=@traveler.conscientiousness%><br>
Agreeableness Evaluation:<%=@traveler.agreeableness%><br>
Emotional Range Evaluation:<%=@traveler.emotional_range%><br>
</div>
