<h1><%=@traveler.username%></h1>

<div>
<%=@traveler.bio%><br>
</div>

<div>
<h3>Please rank 1 to five how open you are feeling to new experiences:</h3>
<ol>
<li>Not open at all</li>
<li>Very hesitant</li>
<li>Cautiously open</li>
<li>Open</li>
<li>Actively searching for an exciting, new experience</li>
</ol>
Traveler chose: <%=@traveler.guest_expectations.to_i%><br>

<h3>Rank how interested you are in interacting with your host:</h3>
<ol>
<li>I am doing this because it’s cheap/convenient and just want to make sure my trip isn’t ruined by a crazy host.<li>
<li>I am not interested in interacting with a host.<li>
<li>I do not need to interact with my host, but might have a few questions.<li>
<li>I would like my host to give me ideas of places to go.<li>
<li>I want to bond with my host and spend significant time with them</li>
</ol>
Traveler chose: <%=@traveler.new_exp.to_i%><br><br><br>

</div>
[Will Be Hidden]<br>
Openness Evaluation:<%=@traveler.openness%><br>
Extraversion Evaluation:<%=@traveler.extraversion%><br>
Conscientiousness Evaluation:<%=@traveler.conscientiousness%><br>
Agreeableness Evaluation:<%=@traveler.agreeableness%><br>
Emotional Range Evaluation:<%=@traveler.emotional_range%><br>
</div>
